<div id="loginPageModal">
  <div id="loginPageInnerDiv">
    <h1 id="loginPageHeader">Welcome Back</h1>
    <div id="loginPageInputDiv">
      <input
        placeholder="Email Address"
        class="loginPageInput"
        type="email"
        [(ngModel)]="email"
      />
      <input placeholder="Password" class="loginPageInput" type="password" [(ngModel)]="password" />

    </div>
    <button mat-raised-button id="loginPageButton" (click)="onLogin()">Log In</button>
    <p id="loginPageText">Don't have an account? Sign-up <a routerLink="/signup-page">here</a>.</p>
  </div>
</div>
