$buttonBackground:  rgb(147, 112, 219);

#navBar {
    display: flex;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    margin-bottom: 1%;
    align-items: center;
}

#logo {
    cursor: pointer;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
      "AppleGothic", sans-serif;
    font-size: 22px;
    padding: 10px 50px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    color: #131313;

    letter-spacing: 0.25em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
      -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
      -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89;
}

.sign-in-button {
    background-color: $buttonBackground;
    color: white;
    display: inline-block;
    height: 100%;
    padding: 1%;
    border-radius: 5px;
}