<div id="resetPasswordPageBackground">
    <div id="resetPasswordPageNavBar">
      <span id="resetPasswordPageLogo">
        <p>Movie</p>
        Generator</span
      >
    </div>
    <div id="resetPasswordPageModal">
        <div id="resetPasswordPageInnerDiv">
            <h1 id="resetPasswordPageHeader">Reset Password</h1>
            <div id="resetPasswordPageInputDiv">
                <label for="password" id="resetPasswordPageLabel">Password </label>
                <input
                    class="resetPasswordPageInput"
                    type="password"
                    [(ngModel)]="enteredPassword"
                />
                <label for="password" id="resetPasswordPageLabel">Confirm Password</label>
                <input 
                    class="resetPasswordPageInput" 
                    type="password"
                    [(ngModel)]="confirmedPassword"
                /> 
            </div>
            <button id="resetPasswordPageButton">Reset Password</button>
        </div>
    </div>
  </div>
  