<div id="actorPageBackground">
    <div id="landingPageNavBar">
      <span id="landingPageLogo"
        ><p>Movie</p>
        Generator</span
      >
    </div>
    <div id="actorPageModal">
      <div id="actorPageInnerDiv">
          <div id="actorInformation">
              <img id="actorPhoto" src="{{actorPhotoURL}}" alt="{{actorName}}">
              <div id="actorTextInformation">
                  <h1>{{ actorName }}</h1>
                  <p> {{ actorBio }}</p>
              </div>
          </div>
          <div>
            <h1>Filmography</h1>
              <div *ngFor="let actorMovie of actorMovies" id="movieName"> 
                {{ actorMovie }}
              </div>
        </div>
      </div>
    </div>
  </div>