/* You can add global styles to this file, and also import other style files */
body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}
.container {
    max-width: 1500px;
    margin: 50px auto;
    overflow: auto;
    min-height: 900px;
    border: 1px solid steelblue;
    padding: 50px;
    border-radius: 5px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #ebf606;
    background: -webkit-linear-gradient(top right, #ebf606, #fa1894);
    background: -moz-linear-gradient(top right, #ebf606, #fa1894);
    background: linear-gradient(to bottom left, #ebf606, #fa1894);
    display: flex;
    flex-direction: column;
}

.router-page {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}