$mainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttonBackground:  rgb(147, 112, 219);
$buttonBorderColor:  rgb(138, 43, 226);

#landingPageMainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $mainFont;
  text-align: center;
}

.landingPageMainHeader {
    margin-block-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    font-weight: 700;
}

#landingPageEmailSubmit {
  display: flex;
  align-items: center;
  width: 50%;
}

#landingPageInput {
  display: inline-block;
  padding: 15px 10px;
  line-height: 140%;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}

#landingPageInputButton {
  height: 100%;
  color: white;
  background-color: $buttonBackground;
  border-color: $buttonBorderColor;
  border-radius: 0px 5px 5px 0px;
}

#mainPageButton {
  width: 110px;
  height: 35px;
  border-radius: 5px;
  background-color: #e06a3b;
}
