$mainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttonBackground:  rgb(147, 112, 219);
$buttonBorderColor:  rgb(138, 43, 226);

#landingPageBackground {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: #ebf606;
  background: -webkit-linear-gradient(top right, #ebf606, #fa1894);
  background: -moz-linear-gradient(top right, #ebf606, #fa1894);
  background: linear-gradient(to bottom left, #ebf606, #fa1894);
}

#landingPageNavBar {
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
  margin-bottom: 5%;
  align-items: center;
}

#landingPageMainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $mainFont;
  text-align: center;
}

#landingPageLogo {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 22px;
  padding: 10px 50px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  color: #131313;

  letter-spacing: 0.25em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89;
}

#landingPageSignIn {
    background-color: $buttonBackground;
    color: white;
    display: inline-block;
    height: 100%;
    padding: 1%;
    border-radius: 5px;
}

.landingPageMainHeader {
    margin-block-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    font-weight: 700;
}

#landingPageEmailSubmit {
  display: flex;
  align-items: center;
  width: 50%;
}

#landingPageInput {
  display: inline-block;
  padding: 15px 10px;
  line-height: 140%;
  border-radius: 5px 0px 0px 5px;
  width: 100%;
}

#landingPageInputButton {
  height: 100%;
  color: white;
  background-color: $buttonBackground;
  border-color: $buttonBorderColor;
  border-radius: 0px 5px 5px 0px;
}
