$mainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttonBackground: rgb(147, 112, 219);
$buttonBorderColor: rgb(138, 43, 226);

#actorPageBackground {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #ebf606;
  background: -webkit-linear-gradient(top right, #ebf606, #fa1894);
  background: -moz-linear-gradient(top right, #ebf606, #fa1894);
  background: linear-gradient(to bottom left, #ebf606, #fa1894);
  display: flex;
  flex-direction: column;
}

#actorPageModal {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 68vw;
  height: 775px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2% 4% 2% 4%;
  font-family: "Avant Garde", Avantgarde, sans-serif;
}

#actorPageInnerDiv h1 {
    color: white;
}

#category label {
    font-size: 1000;
}

#carousel {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  overflow-x: auto;
}

#slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    color: white;
}

#moviePoster {
  width: 240px;
  height: 350px;
  margin-right: 25px;
  background-color: rgba(0,0,0,0);
  border: none;
}