<div id="settingsPageBackground">
    <div id="settingsPageNavBar">
      <span id="settingsPageLogo"
        ><p>Movie</p>
        Generator</span
      >
    </div>
    <div id="settingsPageModal">  
      <div id="settingsPageInnerDiv">
        <h1 id="settingsPageHeader">Settings</h1>
        <div id="settingsPageInputDiv">
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Account Details"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Recommendation Preferences"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Appearance"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="History"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Security"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Help"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Terms and Conditions"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Feedback"/>
            <input (click)="alertMe()" readonly class="settingsPageLink" placeholder="Sign Out"/>
        </div>
      </div>
    </div>
  </div>
  