<div id="actorPageModal">
  <div id="actorPageInnerDiv">
    <input [(ngModel)]="searchBarText" type="text" name="searchBarText" id="searchBarText"
      placeholder="Search Movie Generator">
      <div id="category">
        <h1>Most Popular Movies</h1>
        <div id="carousel">
          <div *ngFor="let moviePoster of popularMoviePosters" id="slide"> 
            <img [src]='moviePoster' id="moviePoster"/>
          </div>
        </div>
    </div>
    <div id="category">
        <h1>Movies Coming Soon</h1>
        <div id="carousel">
          <div *ngFor="let moviePoster of comingSoonPosters" id="slide"> 
            <img [src]='moviePoster' id="moviePoster"/>
          </div>
        </div>
    </div>
  </div>
</div>