<div id="actorPageModal">
  <div id="actorPageInnerDiv">
    <button routerLink="/search-page" id="searchPageButton">Search Movies!</button>
    <br>
    <br>
    <button routerLink="/user-watchlist" id="searchPageButton">Watchlist</button>
      <div id="category">
        <h1>Most Popular Movies</h1>
        <div id="carousel">
          <div *ngFor="let movie of popularMovies" id="slide"> 
            <button type="submit" id="moviePoster" (click)="showModal(movie)"><img [src]="movie.Poster" alt="Movie" id="moviePoster"></button>
            <label id="title" style="margin-top: 10px">{{movie.Title}}</label>
          </div>
        </div>
    </div>
    <div id="category">
        <h1 id="categoryLabel">Movies Coming Soon</h1>
        <div id="carousel">
          <div *ngFor="let movie of comingSoonMovies" id="slide"> 
            <button type="submit" id="moviePoster" (click)="showModal(movie)"><img [src]="movie.Poster" alt="Movie" id="moviePoster"></button>
            <label id="title" style="margin-top: 10px">{{movie.Title}}</label>
          </div>
        </div>
    </div>
  </div>
</div>