$mainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttonBackground: rgb(147, 112, 219);
$buttonBorderColor: rgb(138, 43, 226);

#actorPageBackground {
  overflow: hidden;
  height: 150%;
  width: 100%;
  background: #ebf606;
  background: -webkit-linear-gradient(top right, #ebf606, #fa1894);
  background: -moz-linear-gradient(top right, #ebf606, #fa1894);
  background: linear-gradient(to bottom left, #ebf606, #fa1894);
  display: flex;
  flex-direction: column;
}

#actorPageModal {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 68vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 3% 3% 3% 3%;
  font-family: "Avant Garde", Avantgarde, sans-serif;
}

#searchBarText {
    width: 99%;
    height: 50px;
    padding-left: 10px;
}

#category {
    margin-bottom: 15px;
}

#category h1 {
  font-size: 30px;
  color: white;
}

#carousel {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

#slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: white;
}

#moviePoster {
  width: 200px;
  height: 275px;
  margin-right: 25px;
  background-color: rgba(0,0,0,0);
  border: none;
}

#searchPageButton {
  width: 100%;
  height: 40px;
  background-color: #e06a3b;
  border-radius: 5px;
}