$mainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttonBackground: rgb(147, 112, 219);
$buttonBorderColor: rgb(138, 43, 226);

#shareMoviePageBackground {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: #ebf606;
  background: -webkit-linear-gradient(top right, #ebf606, #fa1894);
  background: -moz-linear-gradient(top right, #ebf606, #fa1894);
  background: linear-gradient(to bottom left, #ebf606, #fa1894);
  display: flex;
  flex-direction: column;
}

#shareMoviePageModal {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-top: 3vh;
}

#shareMoviePageInputDiv {
  display: flex;
  flex-direction: column;
}

#shareMoviePageHeader {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  align-self: flex-start;
}

.shareMovieInput {
  color: white;
  background-color: #333;
  border-radius: 5px;
  border: none;
  width: 25vw;
  height: 4vh;
  padding: 8px 20px 8px 20px;
  margin-bottom: 1vh;
  text-align: center;
}

#shareMoviePageParagraph {
  color:white;
  font-family: $mainFont;
  text-align: center;
}

.shareMovieButton {
  color:white;
  width: 100%;
  height: 6vh;
  border-radius: 5px;
  border: none;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  padding: 8px 0px 8px 0px;
  margin-bottom: 2%;
}

#shareMovieBackButton {
  background: #27695A;
background: -webkit-linear-gradient(top left, #27695A, #1C278C);
background: -moz-linear-gradient(top left, #27695A, #1C278C);
background: linear-gradient(to bottom right, #27695A, #1C278C);
}

#shareMoviePageText {
  color: #555;
  font-family: $mainFont;
  font-size: 12px;
}

#landingPageNavBar {
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
  margin-bottom: 1%;
  align-items: center;
}

#landingPageMainContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: $mainFont;
  text-align: center;
}

#landingPageLogo {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
    "AppleGothic", sans-serif;
  font-size: 22px;
  padding: 10px 50px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;

  color: #131313;

  letter-spacing: 0.25em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89;
}

#shareMovieSentModal {
  height: 30vh;
  
 
  color: #888;
  padding-left: 1vw;
  padding-right: 1vw;
  
}

#shareMovieSentInnerDiv {
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
}

#shareMovieSentOuterModal {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 40vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#shareMovieSentButton {
  color: white;
  width: 100%;
  height: 6vh;
  border-radius: 5px;
  border: none;
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  padding: 8px 0px 8px 0px;
  margin-top: 2vh;
}

#shareMovieSentHeader {
  color: white;
}